<div class='row'>

  <div class='small-4 columns' style='text-align:center;margin-top:10px;'>
    <a href='/'><img src="images/helyum-logo.png" alt="Helyum" width="150" height="150"></a>
    <h3 style='font-size:14px;'>The simplest way to buy and sell online</h3>
  </div>
  
  <div class='small-8 columns'>
    <div class='row' style=margin-top:10px;>
      <li><img src="images/icons/fb-icon.png" alt="Facebook" height="52" width="52"></li>
      <li><img src="images/icons/google-icon.png" alt="Google" height="52" width="52"></li>
      <li><a href='https://twitter.com/helyumco'><img src="images/icons/twitter-icon.png" alt="Twitter" height="52" width="52"></a></li>
    </div>
    
    <div class='row'>
      <div class='small-7 small-centered columns' style='text-align:center;'>
        <h3 style='padding-bottom:5px;'>Helyum is an innovative new marketplace
        simplifying the way we buy and sell online.</h3>
        We're launching soon, but in the meantime: 
      </div>
    </div>
  </div>
  
</div>

<div class='row'>

  <div class='medium-4 columns' style='background-color: #fff; padding-top: 15px;'>
    <% if flash[:notice].present? %>
      <b style='color:green;'><%= flash[:notice] %></b><br><br>
    <% end %>
    <%= render 'form' %>
  </div>
  <div class='medium-8 columns' style='padding-left: 50px; text-align:center;'>
    <hr style='margin-top:0; margin-bottom:10px;'><h2 style='padding-bottom:5px;margin-bottom:0;'>What do you want to buy or sell?</h2>
    We are committed to always offering items of value that our users are actively<br>
    buying and selling online. Have something in mind you want to see on Helyum?<br><br>
    <a href="#" class='button radius tiny' style="margin-bottom:0;">Tell Us</a>
    
    <hr style='margin-top:17px; margin-bottom:10px;'><h2>Get an early invite</h2>
    Be one of the 10,000 users to join us before the rest for our beta launch<br><br>
    <a href='/join'><div class='button radius tiny' style="margin-bottom:0;">Get Invited</div></a>
    <hr style='margin-bottom:0;'>
  </div>
</div>

<div class='row footer'>
  <div class='small-4 small-centered columns' style='padding-top:80px;'>
    <% if flash[:alert].present? %>
      <b style='color:red;'><%= flash[:alert] %></b><br><br>
    <% else %>
      <div class='row'>Don't have a username in mind yet? <br><br></div>
    <% end %>
    <div class='row'>
    <%= simple_form_for(@email) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs small-6 columns" style='padding-left:0;'>
        <%= f.input :email, required: true, placeholder: 'email@domain.com', label: false %>
      </div>
      <div class="form-actions small-6 columns">
        <input class="tiny button" name="commit" style="background-color: rgb(41, 207, 163);" type="submit" value="Create Email" />
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class='row' style='margin-bottom:80px;color:#111;font-size:14px;'>
  © 2014 by Helyum.co
</div>
